<div class="adv">
				<div class="wrapper">
					<ul class="pull-left clearfix">
						<li>Follow Us<a><i class="fa fa-youtube-square"></i></a></li>
						<li><a><i class="fa fa-facebook-official"></i></a></li>
						<li><a><i class="fa fa-twitter-square"></i></a></li>
					</ul>
					<ul class="pull-right clearfix">
						<li><a><i class="material-icons">place</i>Location Detector</a></li>
						<li><a><i class="material-icons">local_shipping</i>Goods Track</a></li>
						<li><a><i class="material-icons">credit_card</i>Card Details</a></li>
						<li><a><i class="material-icons">shopping_basket</i>Favourite Items</a></li>
						<li><a><i class="material-icons">card_membership</i>Offers</a></li>
						<li><a><i class="material-icons">local_activity</i>Advertisement</a></li>
						<li><a><i class="material-icons">shopping_cart</i>Smart Pickup</a></li>
						<li><a><i class="material-icons">help</i>Help Desk</a></li>
					</ul>
				</div>
			</div>
			<header>
				<div class="wrapper clearfix">
					<div class="logo pull-left">
						<h1><a href="#">D'eMart</a></h1>
					</div>
					<div class="header-content pull-right">
						<div class="clearfix top-search">
							<div class="main-search pull-left">
								<ul>
									<li><input type="text" /></li>
									<li class="search"><a class="search-btn"><i class="material-icons">search</i></a></li>
								</ul>
							</div>
							<div class="pull-right">
								<div class="cart-item pull-right">
									<a href="#"><i class="fa fa-shopping-basket"></i></a>
								</div>
								<div class="pull-right" ng-controller="headercontroller">
									<p class="signin" ng-click="signout()"><a href="#">Hello {{loginuser}}</a></p>
									<p class="account" ng-click="signout()"><a href="#">{{signText}}</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sec-menu">
					<div class="wrapper clearfix">
						<div class="pull-right offers">
							<ul>
								<li>FREE D'eMart Grocery pickup</li> |
								<li>Today's Deals</li>
							</ul>
						</div>
					</div>
				</div>
			</header>